.head {
    text-align: center;
}

.Tabs {
    margin-left: 75px;
    
    
}
.calendar {
    margin-top: 40px;
    background-color: blue;
}
.fade {
    opacity: 1;
}

.fc {
    margin-left: 80px;
    padding: 0 18px 0 20px;
}

