 .pro-sidebar {
    position: fixed;
    top: -48px;
    bottom: 0;
    left: -2px;
    min-height: 105.5vh !important;
    width:  150px;
    z-index: 100;
    padding: 48px 2px 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    
    
}

.logoText {
    font-size: 25px;
    text-align: center;
    padding: 19px 0 0 0;

}

.closemenu {
    text-align: right;
    font-size: 25px;
    padding: 0 0 0 0;
}

.cornIcon {
    margin-bottom: 0;
}

 .cornAndText {
    margin-bottom: -1rem;
}
/*
#sidebar-wrapper {
    min-height: 100vh !important;
    width: 100vh;
    margin-left: -1rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
} */


/* #sidebar {
    position: absolute;
    width: 220px;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 100;
    padding: 0px 0 0;
}

#sidebar .pro-sidebar {
    height: 100vh;
    color: black;
    text-align: center;
}

#sidebar .closemenu {
    color: #000;
    position: absolute;
    right: 0;
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    top: 55px;
    cursor: pointer;
}

#sidebar .pro-sidebar {
    width: 100%;
    min-width: 100%;
}

#sidebar .pro-sidebar.collapsed {
    width: 80px;
    min-width: 80px;
    text-align: center;
}

#sidebar .pro-sidebar-inner {
    background-color: white;
    box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}

#sidebar .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
}

#sidebar .pro-sidebar-inner .pro-sidebar-layout .logotext p {
    font-size: 20px;
    padding: 0 20px;
    color: #000;
    font-weight: bold;
}

#sidebar .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 5px;
}

#sidebar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: #000;
    margin: 10px 0px;
    font-weight: bold;
}

#sidebar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color: #fbf4cd;
    color: #000;
    border-radius: 3px;
}

#sidebar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: #000;
}

#sidebar .pro-sidebar-inner .pro-sidebar-layout .active {
    background-image: linear-gradient(0deg, #fece00, #ffe172 100%)
}

#sidebar .logo{
    padding: 20px;
}
 */




